<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOps On the Go</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <div class="text-content">
        <h1>DevOps</h1>
        <p class="description">DevOps combines software development and IT operations to improve collaboration and
            streamline the software delivery process. It focuses on automation, continuous integration, and
            continuous delivery (CI/CD) to enable faster and more reliable releases. By using tools like Jenkins,
            Docker, and Kubernetes, DevOps enhances efficiency and reduces manual errors. The goal is to foster a
            culture of continuous improvement and rapid response to customer needs.</p>
        <a href="https://github.com/automation-craftsman" class="github-button" target="_blank">Visit my Github</a>
    </div>
    <div class="image-content">
        <img src="/devops.png" alt="DevOps Illustration">
    </div>
</div>
</body>
</html>